@import url("./tokens/primitivos.css");
@import url("./tokens/semanticos.css");
@import url("./tokens/componentes.css");

/* TABLET */
@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: var(--space-sm) var(--space-lg);
    }

    main {
        grid-template-columns: var(--sidebar-width) 1fr;
        grid-template-areas: "sidebar content";
    }

    .sidebar {
        display: block;
        grid-area: sidebar;
        background: var(--color-surface);
        padding: var(--space-sm);
        border-radius: var(--radius-md);
    }

    .content-area {
        grid-area: content;
    }

    .timeline-thread {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    main {
        grid-template-columns:
            var(--sidebar-width)
            1fr
            var(--aside-width);

        grid-template-areas:
            "sidebar content aside";
    }

    .aside {
        display: block;
        grid-area: aside;
        background: var(--color-surface);
        padding: var(--space-sm);
        border-radius: var(--radius-md);
    }

    .timeline-thread {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ELEMENTOS GERAIS */
img,
video,
iframe {
    max-width: 100%;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    box-sizing: border-box;
}