/* Convenção adotada:
   - Tokens específicos de componentes.
   - Representam propriedades reutilizáveis
     de um componente específico.
   - Utilizam tokens semânticos e/ou primitivos.*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    font-size: var(--fs-base);
    background: var(--color-bg);
    color: var(--color-text);
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm);
    background: var(--color-surface);
    border-bottom: var(--border-primary);
}

header h1 {
    color: var(--color-primary);
    font-size: var(--fs-h1);
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-md);
    padding: var(--space-sm);
    max-width: var(--container-max-width);
    margin-inline: auto;
}

/* CARDS */
.timeline-thread {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);
}

.timeline-item {
    background: var(--card-bg);
    border-radius: var(--radius-lg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 140px;
    position: relative;
    transition: var(--transition-default);
}

.timeline-item:hover {
    transform: scale(var(--hover-scale));
}

.timeline-item img {
    width: 100%;
    height: 100px;
    background: var(--image-placeholder);
}

/* CONTENT */
.content {
    padding: 0.6rem;
    text-align: center;
}

.content h2 {
    font-size: var(--fs-h2);
}

/* DATE */
.chrono-date {
    position: absolute;
    top: 6px;
    left: 6px;
    background: var(--color-primary);
    padding: 2px 6px;
    font-size: var(--fs-sm);
    border-radius: var(--radius-sm);
}