/*
    TOKENS PRIMITIVOS

    Valores puros sem significado semântico.
*/

:root {

    /* CORES */

    --blue-500: #0A84FF;
    --blue-600: #0066CC;

    --gray-100: #F5F5F5;
    --gray-300: #D9D9D9;
    --gray-500: #888888;
    --gray-700: #333333;
    --gray-900: #111111;

    --white: #FFFFFF;
    --black: #000000;

    /* ESPAÇAMENTO */

    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;

    /* RAIO */

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* SOMBRAS */

    --shadow-sm: 0 2px 8px rgba(0,0,0,.15);
    --shadow-md: 0 4px 20px rgba(0,0,0,.25);

}