/*Convenção adotada:
   - Tokens primitivos representam valores brutos do design.
   - NÃO possuem significado semântico.
   - São reutilizáveis em qualquer contexto.*/

:root {

    /* COLORS */
    --blue-500: #0a84ff;
    --blue-700: #0066cc;

    --gray-900: #0b0c10;
    --gray-800: #111;
    --gray-700: #1c1c1c;
    --gray-500: #333;
    --gray-300: #aaa;

    --white: #fff;

    /* SPACING */
    --space-2xs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;

    /* FONT SIZE */
    --fs-sm: 0.7rem;
    --fs-base: clamp(0.875rem, 2vw, 1rem);
    --fs-h1: clamp(1.75rem, 4vw, 2.5rem);
    --fs-h2: clamp(1rem, 2.5vw, 1.3rem);

    /* RADIUS */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 10px;

    /* EFFECTS */
    --transition-default: 0.3s;
    --hover-scale: 1.03;

    /* SIZES */
    --sidebar-width: 220px;
    --aside-width: 200px;
    --container-max-width: 1200px;
}