.footer {

    margin-top: 4rem;

    background: white;

    border-top: 1px solid var(--color-border);

}

.footer__container {

    max-width: 1400px;

    margin: auto;

    padding: 2rem;

}

.footer__bottom {

    margin-top: 2rem;

    text-align: center;

    color: var(--color-text-secondary);

}