/* =====================================
   NAVBAR
===================================== */

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1rem;

}

.navbar__brand {

    text-decoration: none;

    font-size: 1.3rem;

    font-weight: 700;

    color: var(--color-primary);
}

/* MENU DESKTOP */

.navbar__menu {

    display: flex;

    gap: 1rem;

    list-style: none;
}

.navbar__link {

    text-decoration: none;

    color: var(--color-text-primary);
}

/* BOTÃO HAMBURGUER */

.navbar__toggle {

    display: none;

    flex-direction: column;

    gap: 4px;

    background: transparent;

    border: none;

    cursor: pointer;
}

.navbar__toggle-bar {

    width: 25px;

    height: 3px;

    background: var(--color-text-primary);

    border-radius: 10px;
}

/* MOBILE */

@media (max-width: 768px) {

    .navbar {

        flex-wrap: wrap;
    }

    .navbar__toggle {

        display: flex;
    }

    .navbar__menu {

        display: none;

        width: 100%;

        flex-direction: column;

        margin-top: 1rem;
    }

    .navbar__menu.active {

        display: flex;
    }

    .navbar__cta {

        display: none;
    }
}